@import './body.css';

:root{
  font-size: 14px;
  --primary: #FED941;
  --white: #FFFFFF;
  --gray: #A7A9BE;
  --background: #0F0E17;
  --black: #000000;
  --basefontFamily: Montserrat, Helvetica, sans-serif;
  --headline1: bold 2.875rem/3.5rem var(--basefontFamily);
  --headline2: bold 3rem/3.5rem var(--basefontFamily);
  --headline3: bold 2.31rem/1.93rem var(--basefontFamily);
  --headline4: bold 1.75rem/2.12rem var(--basefontFamily);
  --headline5: bold 1.5rem/1.75rem var(--basefontFamily);
  --body1Bold: bold 1.125rem/1.68rem var(--basefontFamily);
  --body1: normal 1.125rem/1.68rem var(--basefontFamily);
  --body2Bold: bold 1rem/1.18rem var(--basefontFamily);
  --body2: normal 1rem/1.18rem var(--basefontFamily);
  --button: bold 1.125rem/1rem var(--basefontFamily);
  --caption: bold .75em/normal var(--basefontFamily);
}
@media screen and (min-width: 768px) {
  :root{
    font-size: 16px;
  }
}
@media screen and (min-width: 1367px) {
  :root{
    font-size: 18px;
  }
}
.body {
  background: var(--background);
  color: var(--gray);
  font: var(--baseFont);
  margin: 0;
}
.link{
  color: var(--gray);
  text-decoration: none;
}

.link:hover{
  color: var(--white);
  text-decoration: underline;
}