

:root{
  font-size: 14px;
  --primary: #FED941;
  --white: #FFFFFF;
  --gray: #A7A9BE;
  --backgroundColor: #0F0E17;
  --black: #000000;
  --basefontFamily: Montserrat, Helvetica, sans-serif;
  --headline1: bold 2.875rem/3.5rem var(--basefontFamily);
  --headline2: bold 3rem/3.5rem var(--basefontFamily);
  --headline3: bold 2.31rem/1.93rem var(--basefontFamily);
  --headline4: bold 1.75rem/2.12rem var(--basefontFamily);
  --headline5: bold 1.5rem/1.75rem var(--basefontFamily);
  --body1Bold: bold 1.125rem/1.68rem var(--basefontFamily);
  --body1: normal 1.125rem/1.68rem var(--basefontFamily);
  --body2Bold: bold 1rem/1.18rem var(--basefontFamily);
  --body2: normal 1rem/1.18rem var(--basefontFamily);
  --button: bold 1.125rem/1rem var(--basefontFamily);
  --caption: bold .75em/normal var(--basefontFamily);
}
@media screen and (min-width: 768px) {
  :root{
    font-size: 16px;
  }
}
@media screen and (min-width: 1367px) {
  :root{
    font-size: 18px;
  }
}
.body {
  background: var(--backgroundColor);
  color: var(--gray);
  font: var(--baseFont);
  margin: 0;
}
.link{
  color: var(--gray);
  text-decoration: none;
}

.link:hover{
  color: var(--white);
  text-decoration: underline;
}
/*  header */
.header{
  display: flex;
  gap: 1rem;
  padding-inline-start:1rem;
  padding-inline-end: 1rem ;
  padding-block-start: .5rem;
  padding-block-end: .5rem;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
}
.menu-list {
  display: flex;
  gap: 1rem;
  padding-inline-start:.5rem;
  padding-inline-end: .5rem ;
}
.menu-list * img, .menu-list * a{
  cursor: pointer;
}
/*  button */
/*  cover */

/*  carrusel */
.slider-container {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}
.slider-slide img {
  margin-inline-start: .5rem;
  margin-inline-end: .2rem;
  margin-block-start: 1rem;
  display: inline-block;
  aspect-ratio: 16/9;
  border-radius: 8px;
  width: 94%;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 8px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  background: var(--gray);
  border-radius: 50%;
  margin-inline: 8px;
}
.slider-bullet-list a:hover{
  background: var(--white);
  border-radius: 100%;
}

/*  movieList */
.movieList{
  margin-inline-start: .5rem;
}
.body2bold{
  font: var(--body1Bold);
  color: var(--white);
}
.movieList-cardList{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.movieList-card{
  position: relative;
  /* flex: 0 1 150px; */
}
.movieList-stars{
  position: absolute;
  top: 7%;
  display: inline;
  text-align: start;
  border: 1px solid var(--primary);
  border-left: none;
  padding-block-start: .4rem;
  padding-block-end: .2rem;
  padding-inline: .4rem;
  border-top-right-radius: 12px ;
  border-bottom-right-radius: 12px ;
  background: #161414bb;


}
.movieList-stars * img{
  height: .8rem;
  width: .8rem;
}
.movieList-stars > p{
  display: inline;
  font: var(--body1Bold);
  color: var(--white);
  line-height: 0;
}
/*  input */
.search-form{
  display: flex;
  align-items: center;
  height: 32px;
}
.search-form button{
  background: var(--primary);
  border: 1px solid var(--primary);
  padding-block-start: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.search-form input{
  height: 32px;
  border: 1px solid var(--primary);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 70%;
  padding-inline: .5rem;
}
.icon-back{
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
.search-form > img{
  height: 22px;
}
.header-search {
    position:absolute;
    right:0px;
    width:100%;
    /* -webkit-transition: all 1s; */
    /* -moz-transition: all 1s; */
    /* -mos-transition: all 1s; */
    /* -o-transition: all 1s; */
    /* transition: all 1s; */
    visibility: hidden;
}
#bar-toggle:not(:checked) ~ .header-search {
    /* right:-1000px; */
}
/*  movies-css*/